*{
  color:black;
  font-size: 1.5rem;
  margin:6px;
}
.cardfuego{
  background-color: rgb(243, 145, 65);
}

.cardagua{
  background-color: rgb(65, 207, 243);
}

.cardhierba{
  background-color: rgb(65, 243, 109);
}

.card-title{
  text-align:center;
  font-size:2.5rem;
  font-weight: bold;
}

.card-text{
  text-align:center;

}

