<nav class="navbar navbar-dark" style="background-color: #FF6347;">
  <a class="navbar-brand" href="">Pókedex</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Pokemon" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="#">Numero</a></li>
      <li><a class="dropdown-item" href="#">Nombre</a></li>
      <li><a class="dropdown-item" href="#">Tipo</a></li>
    </ul>
  </form>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="on" checked> Todos
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Nombre
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3" autocomplete="off"> Número
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3" autocomplete="off"> Tipo
    </label>
  </div>
</nav>
